body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Roboto", sans-serif;
}

#root {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: flex-start;
}
