.piechart {
  &__circle {
    background: white;
    border-radius: 100%;
    width: 140px;
    height: 140px;
    position: absolute;
    top: 56%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__container {
    width: 31%;
    height: 220px;
    margin-top: 20px;
    padding: 14px;
    background: $clr-light-grey-02;
    border-radius: 5px;
    position: relative;
  }

  &__legend {
    text-align: center;
  }

  &__score {
    font-size: 26px;
    font-weight: 700;
  }

  &__goal {
    color: $clr-light-grey-01;
    margin: 0 50px;
  }
}
