.content-container {
  width: 80vw;
  padding: 40px 0 20px 100px;
  margin: auto;

  @media #{$big-down} {
    width: 95vw;
  }
}

.welcome {
  margin-bottom: 70px;
  &__name {
    color: $clr-secondary;
  }
  &__congrats {
    font-size: 18px;
  }
}

.stats {
  display: flex;
  gap: 40px;

  &__resume {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 25%;
  }
  &__graph {
    width: 75%;
    display: flex;
    flex-direction: column;
  }

  &__graph--blocs {
    display: flex;
    justify-content: space-between;
  }
}
